<strong>Hey there {{ organizer }}!</strong>
<p>You have a new subscription to meetup name: {{ booking }}, subscriber:</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
